@import url('https://fonts.googleapis.com/css?family=Oswald');


html {

	font-size: 18px;
}

body {

	font-family: 'Oswald', sans-serif;

}

h1 {

	border-bottom: 3px solid black;
	padding: .5rem;
}


#taskInput {

	padding-left: .5rem;
	margin: .5rem;
	margin-top: 2rem;
	margin-left: 1rem;
	outline-color: black;
	max-width: 350px;
}

#submitButton {

	margin: .5rem;
	margin-top: 1rem;
	margin-left: 1rem;
	border-radius: .25rem;
	background-color: #353A3F;
	color: white;
	outline-color: black;
}

.completed {

	text-decoration: line-through;
	opacity: 0.5;
}

.task-list {

	position: relative;
	list-style: none;
	border: 2px solid black;
	margin: 1rem;
	overflow: auto;
	padding-left: 2rem;
	padding-right: 0;
	padding-bottom: 3px;
	width: 350px;

}

.form-check {

	padding: 0;
	margin: 0;
}

.close {

	margin-right: .5rem;
	outline: none;
}







