@import url('https://fonts.googleapis.com/css?family=Oswald');


html {

	font-size: 18px;
}

body {
	
	background-color: black;
	font-family: 'Oswald', sans-serif;
}


h1 {

	border-bottom: 3px solid black;
	padding: .5rem;
	text-align: center;
}

@media (max-width: 575px) {
	
	#app {

		width: 90vw;
		height: 100vh;
		margin: auto;
		background-color: white;
	}
}

@media (min-width: 576px) {
	
	#app {

		width: 90vw;
		height: 100vh;
		margin: auto;
		background-color: white;
	}
}

@media (min-width: 768px) {
	
	#app {

		width: 75vw;
		height: 100vh;
		margin: auto;
		background-color: white;
	}
}

@media (min-width: 991px) {
	
	#app {

		width: 60vw;
		height: 100vh;
		margin: auto;
		background-color: white;
	}
}

@media (min-width: 1200px) {
	
	#app {

		width: 50vw;
		height: 100vh;
		margin: auto;
		background-color: white;
	}
}

#taskInput {

	padding-left: .5rem;
	margin: .5rem;
	margin-top: 2rem;
	margin-left: 1rem;
	outline-color: black;
	max-width: 350px;
}

#submitButton {

	margin: .5rem;
	margin-top: 1rem;
	margin-left: 1rem;
	border-radius: .25rem;
	background-color: #353A3F;
	color: white;
	outline-color: black;
}

.completed {

	text-decoration: line-through;
	opacity: 0.5;
}

#tasks {

	display: block;
	margin: auto;
}

div.col-12 {

	text-align: center;
}

.task-list {

	position: relative;
	list-style: none;
	/*border: 2px solid black;*/
	/*margin: 1rem;*/
	overflow: auto;
	padding-left: 2rem;
	padding-right: 0;
	padding-bottom: 3px;
	width: 350px;

}

ul.task-list {

	margin: auto;
}
.form-check {

	padding: 0;
	margin: 0;
}

.close {

	margin-right: .5rem;
	outline: none;
}









